main{
    display: flex;
    justify-content: center;
}

#sul:hover,
#norte:hover,
#nordeste:hover,
#centroOeste:hover,
#sudeste:hover
{
    transform: translateX(-1px) translateY(-5px);
}
