#norte:hover{
    transform: translateX(-1px) translateY(-5px);
}
#sul:hover{
    transform: translateX(-1px) translateY(-5px);
}
#centroOeste:hover{
    transform: translateX(-1px) translateY(-5px);
}
#nordeste:hover{
    transform: translateX(-1px) translateY(-5px);

}
#sudeste:hover{
    transform: translateX(-1px) translateY(-5px);

}